*,*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(to right, #f12711, #f5af19);
    color: white;
    line-height: 1.8;
}

/* parent container style */
#weather{
    /* border: 2px solid; */
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
}

.header-container
{
    /* border: 2px solid; */
    width: 100%;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.weather-present-container{
   /* border: 2px solid; */
   display: flex;
   width: 60%;
   margin: 5rem auto;
   justify-content: space-evenly;
}

.weather-info{
    /* border: 2px solid; */
    padding: 2rem;
    width:20%;
    margin-right: 5rem;
}

.weather-data{
    /* border: 2px solid; */
    padding-bottom: 0;
    padding-top: 4rem;
    width:20%;
    /* justify-self: flex-end; */
}

.weather-day-to-day-container{
    /* border: 2px solid; */
    width: 100%;
    margin: 5rem auto;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
}
.day{
    /* border: 2px solid; */
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* element styling */
.header{
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    font-size: 1.5rem;
}
i{
    font-size: 5rem;
}